:root {
  --color-yellow: hsl(49, 100%, 50%);
  --color-mint: hsl(166, 67%, 55%);
  --color-blue: hsl(212, 100%, 50%);
  --color-grey: hsl(0, 0%, 77%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding: 80px 0;

  font-size: 100%;
  font-family: Roboto, sans-serif;
  line-height: 1.4;
  letter-spacing: 0.05em;
  color: white;

  background-color: hsl(0, 0%, 0%)
}

body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed
}

blockquote, body, dd, dl, figcaption, figure, h1, h2, h3, h4, li, ol[class], p, ul[class] {
  margin: 0;
}

ol[class],ul[class] {
 padding: 0;
 list-style-type: none
}

button,input,select,textarea {
  font: inherit
}

.container {
  max-width: 40.7em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.25em;
  padding-left: 1.25em;
}

@media (max-width: 26em) {
  .container {
    padding-right: 0.825em;
    padding-left: 0.825em;
  }
}

.border {
  margin-bottom: 2.5em;
  padding: 2.2em;
  border: 0.25em solid var(--color-yellow);
}

@media (max-width: 26em) {
  .border {
    padding: 1.25em;
  }
}

.border--white {
  border-color: white;
}

.border--mint {
  border-color: var(--color-mint);
}

.border--grey {
  border-color: var(--color-grey);
}

.border:last-child {
  margin-bottom: 0;
}

.page-header, .section {
  margin-bottom: 2.2em;
}

.section:last-child {
  margin-bottom: 0;
}

.section h2 {
  margin-left: 1.67em;
  margin-bottom: 0.84em;

  font-size: 1.5em;
}

.section p {
  font-size: 1.4em;
}

.border--page-header {
  display: flex;
  align-items: center;
}

@media (max-width: 560px) {
  .border--page-header {
    flex-direction: column;
    align-items: flex-start;
  }
}

.border--page-header .avatar {
  width: 9.375em;
  height: 9.375em;
  flex-shrink: 0;
}

@media (max-width: 560px) {
  .border--page-header .avatar {
    margin-bottom: 2.5em;
  }
}

.border--page-header .user-info {
  width: 0;
  flex-grow: 1;
  margin-left: 2.5em;
}

@media (max-width: 560px) {
  .border--page-header .user-info {
    width: 100%;
    margin-left: 0;
  }
}

.border--page-header h1 {
  margin-bottom: 0.28em;
  font-size: 2.25em;
}

.border--page-header p {
  font-size: 1.125em;
}

.section--skills p {
  font-size: 1.5em;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1em;

  color: var(--color-yellow);
}

.skill-list li {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.project-link a {
  margin-bottom: 1.11em;
}

a {
  display: inline-block;

  color: var(--color-blue);
  text-decoration: none;
  border-bottom: 0.167em solid transparent;
}

a:hover {
  border-bottom-color: var(--color-blue);
}

article {
  margin-bottom: 1.875em;
}

article:last-child {
  margin-bottom: 0;
}

.page-footer {
  margin-top: 2.5em;
}

.page-footer .border {
  position: relative;
}

.page-footer .border .page-footer__icons {
  position: absolute;
  right: 2.2em;
  top: 50%;

  display: flex;
  margin-top: -1.25em;
}

.page-footer .border .page-footer__icons a {
  margin-left: 1.25em;
}

.page-footer .border .page-footer__icons svg {
  width: 2.5em;
  height: 2.5em;
}
